{{ partial "head.html" . }}

<main>
  <div class="main-content" class="container">
    <h1 class="fw-medium ps-5 d-none d-md-block">{{ .Title }}</h1>
    {{ range .Pages }}
    <article>
      <div class="container border-bottom mb-4 pb-4 list-item">
        <a href="{{ .Permalink }}">
          <div class="container text-left">
            <div class="row align-items-start">
              <div class="col-8 align-self-center">
                <div class="container text-left">
                  <div class="row fs-3 fw-medium item-title">
                    {{ .Title }}
                  </div>
                  <div class="row fw-light">
                    {{ .Params.subtitle }}
                  </div>
                </div>
              </div>
              <div class="col-4">
                {{ with .Resources.Get .Params.headerImageFile }}
                {{/* 1× (200 px) & 2× (400 px) WebP */}}
                {{ $thumb200 := .Resize  "200x webp" }}
                {{ $thumb400 := .Resize  "400x webp" }}
    
                <picture>
                  <source
                    type="image/webp"
                    srcset="
                      {{ $thumb200.RelPermalink }} {{ $thumb200.Width  }}w,
                      {{ $thumb400.RelPermalink }} {{ $thumb400.Width  }}w"
                    sizes="(max-width: 576px) 33vw, (max-width: 768px) 25vw, 200px">                  
    
                  <img
                    class="img-fluid"
                    src="{{ $thumb200.RelPermalink }}"
                    srcset="
                      {{ $thumb200.RelPermalink }} {{ $thumb200.Width  }}w,
                      {{ $thumb400.RelPermalink }} {{ $thumb400.Width  }}w"
                    sizes="(max-width: 576px) 33vw,
                           (max-width: 768px) 25vw,
                           200px"
                    width="{{ $thumb200.Width }}"
                    height="{{ $thumb200.Height }}"
                    loading="lazy"
                    alt="{{ .Params.headerImageCaption }}">
                </picture>
              {{ end }}
              </div>
            </div>
        </a>
      </div>
    </article>
  {{ end }}
  </div>
</main>

{{ partial "footer.html" . }}