{{ partial "head.html" . }}

<main role="main" class="container-fluid">
  <div class="main-content">
    <div class="container text-left">
      <div class="row justify-content-between">
        <div class="col-12 col-md">
          <h1 class="fw-medium">{{ .Title }}</h1>
          <h3 class="fw-lighter">{{ .Params.subtitle }}</h3>
        </div>
        <div class="col-12 col-md">
          <div class="text-center">
            {{ $imageFile := .Params.headerDisplayImageFile | default .Params.headerImageFile }}
            {{ with .Resources.Get $imageFile }}
            {{ if eq .MediaType.SubType "svg" }}
            <img
              src="{{ .RelPermalink }}"
              alt="{{ $.Params.headerImageCaption }}"
              class="img-fluid project-hero-icon"
              loading="eager">
            {{ else }}
            {{ partial "responsive-image.html" (dict
              "resource" .
              "alt" $.Params.headerImageCaption
              "class" "img-fluid project-hero-icon"
              "loading" "eager"
              "sizes" "(max-width: 767px) 100vw, (max-width: 1199px) 80vw, 1024px"
            ) }}
            {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>

    <div class="blog-body container-fluid mt-4 pt-4 px-0">
      <div class="container text-left">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-left blog-text mt-4 pt-4 px-0">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{ partial "footer.html" . }}
