{{ partial "head.html" . }}

<main role="main" class="container-fluid">
  <div class="main-content">
    <div class="container text-left">
      <div class="row align-items-start">
        <div class="col-12 col-md">
          <h1 class="fw-medium">{{ .Title }}</h1>
          <h3 class="fw-lighter">{{ .Params.subtitle }}</h3>
        </div>
        <div class="col-12 col-md">
          {{ with .Resources.Get .Params.headerImageFile }}
          {{ partial "responsive-image.html" (dict
            "resource" .
            "alt" $.Params.headerImageCaption
            "class" "img-fluid"
            "loading" "eager"
            "sizes" "(max-width: 767px) 100vw, (max-width: 1199px) 80vw, 1024px"
          ) }}
          {{ end }}
        </div>
      </div>
    </div>

    <div class="blog-body container-fluid mt-4 pt-4">
      <div class="container text-left">
        <div class="row align-items-start">
          <div class="col-12 col-md">
            <h5 class="fw-normal">{{ .Date.Format "2 January 2006" }}</h5>
          </div>
        </div>
        <div class="mt-4 pt-4">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-left blog-text px-0">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{ partial "footer.html" . }}
