{{ partial "head.html" . }}


<main role="main" class="container-fluid">
  <div class="main-content">
    <div class="container text-left">
      <div class="row align-items-start">
        <div class="col-12 col-md">
          <h1 class="fw-medium">{{ .Title }}</h1>
          <h3 class="fw-lighter">{{ .Params.subtitle }}</h2>
        </div>
        <div class="col-12 col-md">
          {{ with .Resources.Get .Params.headerImageFile }}
          {{ $orig := . }}
        
          <!-- JPEG fallbacks -->
          {{ $smallJpeg  := $orig.Resize "400x" }}    <!-- 400px-wide JPG -->
          {{ $mediumJpeg := $orig.Resize "800x" }}    <!-- 800px-wide JPG -->
          {{ $largeJpeg  := $orig.Resize "1024x" }}   <!-- 1024px-wide JPG -->
        
          <!-- WebP versions -->
          {{ $smallWebp  := $orig.Resize "400x webp" }}   <!-- 400px-wide WebP -->
          {{ $mediumWebp := $orig.Resize "800x webp" }}   <!-- 800px-wide WebP -->
          {{ $largeWebp  := $orig.Resize "1024x webp" }}  <!-- 1024px-wide WebP -->
        
          <picture>
            <source
              type="image/webp"
              srcset="
                {{ $smallWebp.RelPermalink  }} {{ $smallWebp.Width  }}w,
                {{ $mediumWebp.RelPermalink }} {{ $mediumWebp.Width }}w,
                {{ $largeWebp.RelPermalink  }} {{ $largeWebp.Width  }}w"
              sizes="(max-width: 767px) 100vw, (max-width: 1199px) 80vw, 1024px">
        
            <img
              src="{{ $mediumJpeg.RelPermalink }}"
              srcset="
                {{ $smallJpeg.RelPermalink  }} {{ $smallJpeg.Width  }}w,
                {{ $mediumJpeg.RelPermalink }} {{ $mediumJpeg.Width }}w,
                {{ $largeJpeg.RelPermalink  }} {{ $largeJpeg.Width  }}w"
              sizes="(max-width: 767px) 100vw, (max-width: 1199px) 80vw, 1024px"
              class="img-fluid"
              alt="{{ .Params.headerImageCaption }}"
              loading="lazy"
              width="{{ $largeJpeg.Width }}"
              height="{{ $largeJpeg.Height }}">
          </picture>
        {{ end }}
        </div>
      </div>
    </div>

    <div class="blog-body container-fluid mt-4 pt-4">
      <div class="container text-left">
        <div class="row align-items-start">
          <div class="col-12 col-md">
            <h5 class="fw-normal">{{ .Date.Format "2 January 2006" }}</h5>
          </div>
        </div>
        <div class="mt-4 pt-4">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-left blog-text px-0">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{ partial "footer.html" . }}