{{ partial "head.html" . }}

<main role="main">
  <div class="main-content container">
    <div class="row gy-4 ps-2 g-0 justify-content-between">
      <div class="col-12 col-md-8 align-self-center text-center text-md-start">
        <h1 class="fw-medium">Hi.</h1>
      </div>

      <div class="col-12 col-md-4 text-center text-md-start">
        <img src="/black-mountain.jpg" alt="Black Mountain" class="img-fluid w-75">
      </div>

      <div class="col-12 col-md-5 fs-5 ps-4 ps-sm-0 pe-4 pe-sm-0">
        <div class="w-auto fw-normal bio-text">
          {{ .Content }}
        </div>
      </div>
      <div class="col-12 col-md-4 fs-5 ps-4 ps-sm-0 pe-4 pe-sm-0">
        <div class="fw-medium">
          <p class="text-start social-link">Email <span class="email"><b>dodgy</b>mail@<b>foo</b>chrisflemming.com<b>bar</b></span></p>
          <p class="text-start social-link">LinkedIn <a target="_blank" rel="noopener noreferrer"
              href="https://www.linkedin.com/in/chrisflemming/">/in/chrisflemming</a></p>
          <p class="text-start social-link">GitHub  <a target="_blank" rel="noopener noreferrer"
              href="https://github.com/chrisflemming">@chrisflemming</a></p>
          <p class="text-start social-link">Bluesky <a target="_blank" rel="noopener noreferrer"
              href="https://bsky.app/profile/chrisflemming.com">@chrisflemming.com</a></p>                     
          <p class="text-start social-link">X (fmr. Twitter) <a target="_blank" rel="noopener noreferrer"
              href="https://x.com/chris_flemming">@chris_flemming</a></p>             
          <p class="text-start social-link">Instagram <a target="_blank" rel="noopener noreferrer"
              href="https://www.instagram.com/chrisflemming_/">@chrisflemming_</a></p>
        </div>
      </div>
    </div>

</main>

{{ partial "footer.html" . }}