{{ partial "head.html" . }}

<main role="main">
  <div class="main-content container">
    <div class="row gy-4 ps-2 g-0 justify-content-between">
      <div class="row align-items-center">
        <div class="col-12 col-md">
          <h1 class="fw-medium text-center text-md-start display-1">Chris Flemming</h1>
        </div>
        <div class="col-12 col-md">
          {{ with resources.Get "black-mountain.jpg" }}
          {{ $orig := . }}

          <!-- JPEG fallbacks -->
          {{ $smallJpeg := $orig.Resize "400x" }} <!-- 400px-wide JPG -->
          {{ $mediumJpeg := $orig.Resize "800x" }} <!-- 800px-wide JPG -->
          {{ $largeJpeg := $orig.Resize "1024x" }} <!-- 1024px-wide JPG -->

          <!-- WebP versions -->
          {{ $smallWebp := $orig.Resize "400x webp" }} <!-- 400px-wide WebP -->
          {{ $mediumWebp := $orig.Resize "800x webp" }} <!-- 800px-wide WebP -->
          {{ $largeWebp := $orig.Resize "1024x webp" }} <!-- 1024px-wide WebP -->

          <picture>
            <source type="image/webp" srcset="
                {{ $smallWebp.RelPermalink  }} {{ $smallWebp.Width  }}w,
                {{ $mediumWebp.RelPermalink }} {{ $mediumWebp.Width }}w,
                {{ $largeWebp.RelPermalink  }} {{ $largeWebp.Width  }}w"
              sizes="(max-width: 767px) 100vw, (max-width: 1199px) 80vw, 1024px">

            <img src="{{ $mediumJpeg.RelPermalink }}" srcset="
                {{ $smallJpeg.RelPermalink  }} {{ $smallJpeg.Width  }}w,
                {{ $mediumJpeg.RelPermalink }} {{ $mediumJpeg.Width }}w,
                {{ $largeJpeg.RelPermalink  }} {{ $largeJpeg.Width  }}w"
              sizes="(max-width: 767px) 100vw, (max-width: 1199px) 80vw, 1024px" class="img-fluid" alt="Black Mountain"
              loading="lazy" width="{{ $largeJpeg.Width }}" height="{{ $largeJpeg.Height }}">
          </picture>
          {{ end }}
        </div>
        <div class="row align-items-center justify-content-center w-auto">
          <div class="col-md-9 text-left px-3 px-md-0">
            <div class="fs-5 fw-medium  bio-text mt-4">
              {{ .Content }}
            </div>

            <h2 class="fw-medium mt-4">Contact</h2>
            <div class="fs-5 fw-medium mt-4">
              <p class="text-start">Email <span
                  class="email"><b>dodgy</b>mail@<b>foo</b>chrisflemming.com<b>bar</b></span></p>
              <p class="text-start homepage-link">LinkedIn <a target="_blank" rel="noopener noreferrer"
                  href="https://www.linkedin.com/in/chrisflemming/">/in/chrisflemming</a></p>
              <p class="text-start homepage-link">GitHub <a target="_blank" rel="noopener noreferrer"
                  href="https://github.com/chrisflemming">@chrisflemming</a></p>
              <p class="text-start homepage-link">X (fmr. Twitter) <a target="_blank" rel="noopener noreferrer"
                  href="https://x.com/chris_flemming">@chris_flemming</a></p>
              <p class="text-start homepage-link">Bluesky <a target="_blank" rel="noopener noreferrer"
                  href="https://bsky.app/profile/chrisflemming.com">@chrisflemming.com</a></p>
              <p class="text-start homepage-link">Instagram <a target="_blank" rel="noopener noreferrer"
                  href="https://www.instagram.com/chrisflemming_/">@chrisflemming_</a></p>
            </div>
            <h2 class="fw-medium mt-4">Latest Posts</h2>
            <ul class="list-unstyled mt-4">
              {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
              <li class="mb-2 fs-5 homepage-link">
                <a href="{{ .RelPermalink }}" class="fw-normal">{{ .Title }}</a>
                <span class="text-muted ms-2 fs-6 text-nowrap">{{ .Date.Format "Jan 2, 2006" }}</span>
              </li>
              {{ end }}
              <li class="mt-3 homepage-link">
                <a href="/blog/" class="fw-medium">More &rarr;</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

</main>

{{ partial "footer.html" . }}