:root {
  font-family: Inter, sans-serif;
}
@supports (font-variation-settings: normal) {
  :root { font-family: Inter, sans-serif; }
}

.main-content {
  padding: 3rem 0rem;
}
.social-icon {
	padding: 10px;
}

a {
  color: #000;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.social-link:hover {
  text-decoration: underline;
}

.social-link:active {
  text-decoration: underline;
}

.blog-text {
  border-top : 1px solid #212529;
}

article img {
  border-radius: 10%;
}

nav .navbar-brand {
    font-family: JetBrains Mono;
    font-weight: 400;
    font-style: normal;
    font-variant-ligatures: none;
    font-size: 1.2em;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {

  a {
    color: white;
  }

  .border-top {
    border-top: 1px solid #333;
  }

  .blog-text {
    border-top: 1px solid #495057;
  }

  svg {
    fill: white;
  }

  blockquote {
    background: #333; /* Darker background for dark mode */
    border-left: 10px solid #555; /* Slightly lighter border color for contrast */
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }
}