body {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  body { font-family: InterVariable, sans-serif; }
}

.main-content {
  padding: 3rem 0rem;
}
.social-icon {
	padding: 10px;
}

a {
  color: #000;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.bio-text a {
  color: #0d6efd;
}

.bio-text a:hover {
  text-decoration: underline;
}

.bio-text a:active{
  text-decoration: underline;
}

.blog-body a {
  color: #0d6efd;
}

.blog-body a:hover {
  text-decoration: underline;
}

.blog-body a:active{
  text-decoration: underline;
}

.social-link a {
  color: #0d6efd;
}

.social-link a:hover {
  text-decoration: underline;
}

.social-link a:active{
  text-decoration: underline;
}

.blog-body {
  border-top : 1px solid #DEE2E6;
  font-size: 18px;
}

.blog-body img {
  display: block;
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;
}

.blog-text {
  font-size: 18px;
}

article img {
  border-radius: 10%;
}

nav .navbar-brand {
    font-family: JetBrains Mono;
    font-weight: 400;
    font-style: normal;
    font-variant-ligatures: none;
    font-feature-settings: normal;
    font-size: 1.2em;
}

nav li {
  text-align: center;
}

pre code {
  font-family: JetBrains Mono;
  font-weight: 400;
  font-style: normal;
  font-variant-ligatures: none;
  font-feature-settings: normal;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

span.email b {
	display: none;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {

  body {
    background-color: #000;
  }

  a {
    color: white;
  }

  .border-top {
    border-top: 1px solid #333;
  }

  .blog-body {
    border-top: 1px solid #495057;
  }

  svg {
    fill: white;
  }

  blockquote {
    background: #333; /* Darker background for dark mode */
    border-left: 10px solid #555; /* Slightly lighter border color for contrast */
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }
}