:root {
  font-family: Inter, sans-serif;
}
@supports (font-variation-settings: normal) {
  :root { font-family: Inter, sans-serif; }
}

.main-content {
  padding: 3rem 0rem;
}
.social-icon {
	padding: 10px;
}

.main-content h1 {
  font-size: 4em;
}

.main-content a {
  color: black;
  text-decoration: none;
}

.blog-text {
  border-top : 1px solid #212529;
}

article img {
  border-radius: 10%;
  width: 200px;
}

nav .navbar-brand {
    font-family: JetBrains Mono;
    font-weight: 400;
    font-style: normal;
    font-variant-ligatures: none;
    font-size: 1.2em;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {

  .main-content a {
    color: white;
    text-decoration: none;
  }

  .border-top {
    border-top: 1px solid #333;
  }

  .blog-text {
    border-top: 1px solid #495057;
  }

  svg {
    fill: white;
  }
}